@import '../../styles/mixins';
@import '../../styles/placeholder';
@import '../../styles/functions';
@import '../../styles/variables';

._container {
	@extend %container;
	padding: 20px 10px;
	gap: 20px;
	flex-wrap: wrap;
}

._text {
	font-size: toRem(14px);
	margin-bottom: 0;

	&__value {
		color: $red;
		font-weight: 700;
		font-size: toRem(22px);
	}
}

._title {
	margin: 10px 0 0 20px;
	justify-content: center;

	& > * {
		@include textGradient($color1: $red, $color2: $gray);
		font-size: toRem(30px) !important;
		font-weight: 700;
		letter-spacing: 1px;
	}
}

._form {
	margin: 0 auto;
	max-width: 60%;

	@media screen and (max-width: 1200px) {
		max-width: 70%;
	}
	@media screen and (max-width: 800px) {
		max-width: 80%;
	}
	@media screen and (max-width: 500px) {
		max-width: 90%;
	}
}
